.device-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 0px 2px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #211F33;
}

.device-row:last-child {
    border-bottom: 1px solid #E7E8EB;
}

.device-cell-row {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.device-icon {
    font-size: 16px;
    margin-right: 4px;
}

.device-name, .device-id {
    font-weight: 500;
}

.device-cell .device-type {
    color: #666;
}

.device-cell .device-memory {
    color: #666
}

.device-gap {
    gap: 4px;
}

.device-type, .device-memory {
    font-size: 12px;
}