/* Reusable dropdown styles */

.reusable-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-header {
    height: 38px;
    padding: 0px 8px;
    border: none;
    outline: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.dropdown-header span {
    flex-grow: 1;
}

.dropdown-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: none;
    outline: 1px solid #48446940;
    border-radius: 4px;
    background-color: #FFFFFF;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.dropdown-header span.placeholder { 
    color: #6E6D7A;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    user-select: none;
}

.dropdown-item:hover {
    background-color: #F0F0F0;
}

.dropdown-item.selected {
    background-color: #007BFF;
    color: #FFFFFF;
}